.clients {
  padding: 94px 0;

  &-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
  }

  &-list {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-link {
    display: flex;
    width: 170px;
    height: 90px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $accent-color;
      border: 1px solid $accent-color;
    }
  }
}
