.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
}

.logo-header {
  display: block;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color {
  color: $accent-color;
}

.align-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;

  .link {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .current {
    position: relative;
    color: $accent-color;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -34px;
      width: 100%;
      height: 4px;

      background: $accent-color;
      border-radius: 2px;
    }
  }

  .item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.site-contacts {
  display: flex;

  .item {
    &:not(:last-child) {
      padding-right: 50px;
    }
  }

  .link {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color;
    text-decoration: none;
    fill: $secondary-text-color;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }
}

.icon-contacts {
  margin-right: 10px;
}
